body{
    overflow-x: hidden;
}

/* navbar classes */
.navbar-nav>a, .navbar-brand{
    color: white;
    font-weight:600;
}
.navbar-nav>a{
    margin-right: 30px;
}

/* section 1 classes */
.section1{
    height: 95vh;
    background-image: url('assets/bgsvg.svg');
    background-color: #404eed;
}

.imgdiv{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.leftimg{
    position: absolute;
    left: -25%;
    bottom: 5%;
    display: block;
    height: auto;
    width: auto;
    max-width: none;
}

.rightimg{
    position: absolute;
    right: -22%;
    bottom: 5%;
    display: block;
    height: auto;
    width: auto;
    max-width: none;
}

.heading1{
    font-size: 4rem;
    color: white;
    font-weight: 900;
}

.para1{
    margin-top: 20px;
    font-size: 20px;
    width: 70%;
    color: white;
    line-height: 1.8;
}
